footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  width: 100%;
  padding: 2em;
  height: fit-content;
  box-sizing: border-box;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 0.5em;
  width: 300px;
  box-sizing: border-box;
  text-align: center;
}

.logo-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

.logo-footer img {
  width: 60px;
  height: auto;
}

.logo-footer label,
.trademark {
  font-family: "Poppins", serif;
  color: var(--text-color);
  font-size: 1rem;
}

.language-dropdown {
  width: 150px;
  padding: 12px;
  margin-top: 8px;
  border-radius: 8px;
  border: 1px solid #96956f;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  transition: border-color 0.3s, background-color 0.3s;
  box-sizing: border-box;
}

.language-dropdown:hover {
  background-color: var(--secondary-color);
  border-bottom: none;
  color: var(--text-color);
  box-shadow: 0 4px 12px rgba(7, 7, 7, 0.527);
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  width: 300px;
}

.links p {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
  align-items: flex-start;
  color: #ffffff;
  cursor: default;
}

.links h4 {
  text-decoration: none;
  font-family: "Poppins", serif;
  font-size: 1.2em;
   color: var(--text-color);
}

.links a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #dbd8e3;
}