@media screen and (max-width: 1023px) {
  .main-panel-tabs {
    display: none;
  }

  .sidebar-button {
    display: flex;
  }
}

@media screen and (min-width: 1024px) {
  .main-panel-tabs {
    display: flex;
  }

  .sidebar-button {
    display: none;
  }
}

.header-container,
.main-panel-tabs,
.sidebar-button {
  transition: all 0.3s ease-in-out;
}

.header-container {
  display: flex;
  height: 5em;
  width: 100%;
  align-items: start;
  box-sizing: border-box;
  padding: 10px 20px;
  box-sizing: border-box;
}

.logo-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 350px;
  gap: 16px;
}

.logo-area img {
  width: 60px;
  height: auto;
}

.logo-area label {
  color: var(--text-color);
  font-size: 1em;
  font-family: "Poppins", serif;
  font-weight: bold;
  font-style: normal;
}

.main-panel-tabs {
  height: 100%;
  width: fit-content;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
}

.dropSurveyBtn,
.dropRecordsBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  width: 200px;
  height: 3em;
  text-decoration: none;
  color: var(--text-color);
  font-family: "Poppins", serif;
  font-size: 1em;
  font-weight: 700;
  font-style: normal;
  cursor: pointer;
  box-sizing: border-box;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.dropSurveyBtn:hover,
.dropRecordsBtn:hover {
  background-color: var(--secondary-color);
  border-bottom: none;
  box-shadow: 0 4px 12px rgba(7, 7, 7, 0.527);
}

.dropRecordsBtn:hover {
  border-radius: 0px 4px 0px 0px;
}

.dropSurveyBtn:hover {
  border-radius: 4px 0px 0px 0px;
}

.sidebar-button {
  margin: auto 0 auto auto;
  padding: 0;
  height: auto;
  width: auto;
  justify-content: end;
  align-items: center;
  cursor: pointer;
}

.dropdown-survey-content a,
.dropdown-records-content a {
  font-family: "Poppins", serif;
  font-weight: bold;
  color: var(--text-color);
  padding: 10px;
  text-decoration: none;
  display: block;
}

.dropdown-survey-content,
.dropdown-records-content {
  position: absolute;
  width: 200px;
  box-sizing: border-box;
  opacity: 0;
  box-shadow: 0 4px 12px rgba(7, 7, 7, 0.527);
  background-color: var(--accent-color);
  transform: translateY(-10px);
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  display: block;
  height: auto;
  border-radius: 4px;
  visibility: hidden;
}

.dropdown-survey-content a:hover,
.dropdown-records-content a:hover {
  background-color: var(--secondary-color);
}

.dropdown-survey:hover .dropdown-survey-content,
.dropdown-records:hover .dropdown-records-content {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  visibility: visible;
}
