@media screen and (max-width: 1023px) {
  .form-box {
    width: 70%;
  }

  .form-content-box {
    flex-direction: column;
    align-items: center;
  }

  .form-content-section1-box,
  .form-content-section2-box {
    min-width: auto;
    width: 80%;
  }
}

@media screen and (max-width: 475px) {
  .form-box {
    width: 100%;
  }
}

@media screen and (max-width: 1234px) {
  .form-content-box.first {
    flex-direction: column;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .form-box {
    width: 50%;
  }

  .form-content-box {
    flex-direction: row;
  }

  .form-content-section1-box,
  .form-content-section2-box {
    width: 90%;
  }
}

main {
  background: url("../assets/images/healthFormBG.webp")
    no-repeat center center fixed;
}

.form-box {
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin: 2em auto;
  font-family: "Poppins", serif;
  background-color: rgba(240, 238, 238, 0.95);
  border: 2px solid var(--accent-color);
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  padding: 50px;
}

.form-box:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.form-content-box {
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
}

input[type="text"],
input[type="number"],
select,
option,
textarea,
input[type="Date"] {
  font-family: "Poppins", serif;
  padding: 10px;
  margin: 10px 0;
  background-color: rgb(245, 245, 245);
  border: 1px solid #96956f;
  border-radius: 8px;
  transition: border-color 0.3s, background-color 0.3s;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus,
option:focus,
textarea:focus,
input[type="Date"]:focus {
    border-color: #979657;
    background-color: #909453;
    outline: none;
}

.list-row {
  margin: 2px 0;
}

.list-row input[type="checkbox"],
.list-row input[type="radio"],
select,
input[type="date"] {
  cursor: pointer;
}

.otherGenderTextField {
  cursor: not-allowed;
}

.form-content-section1-box,
.form-content-section2-box {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  margin: 0 auto;
}

.submit-btn {
    background-color: #6b5f1cfa;
    color: #eaf1ee;
    border: 2px solid #6b5f1cfa;
    text-align: center;
    display: block;
    margin: 30px auto 0px auto;
    padding: 12px 25px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.submit-btn:hover {
    background-color: #503606;
    box-shadow: 0 4px 12px rgba(7, 7, 7, 0.527);
    transform: scale(1.05);
}

.submit-btn:active {
    transform: scale(1.02);
}

textarea {
  resize: none;
}
